.sidebar {
  background-color: #BCFBFF;
  height: 100%;
  background: linear-gradient(140deg, #b2e1ff 0%,#66b6fc 100%);
}

.full-height {
  height: 100%;
}

.root {
  height: 100vh;
}

.chula-logo {
  width: 40%;
}

ul.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu > li > * {
  font-size: 1em;
}
