.sidebar {
  background-color: #A5E7F7;
  height: 100%;
}

.full-height {
  height: 100%;
}

.root {
  height: 100vh;
}

.chula-logo {
  width: 40%;
}

ul.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu > li > * {
  font-size: 1em;
}
