-
  var sidebarItems = [
    {
      name: 'courses',
      items: [
        {
          name: 'enroll course',
          href: '/student/course/enroll'
        },
        {
          name: 'search courses',
          href: '/student/course/search'
        },
        {
          name: 'manage courses',
          href: '/student/course/manage'
        },
        {
          name: 'pay fee',
          href: '/student/course/pay'
        },
        {
          name: 'view grade',
          href: '/student/grade'
        }
      ]
    },
    {
      name: 'senior projects',
      items: [
        {
          name: 'register',
          items: [
            {
              name: 'register new project',
              href: '/student/seniorproj/register'
            },
            {
              name: 'register to existing project',
              href: '/student/seniorproj/exist-register'
            }
          ]
        },
        {
          name: 'browse senior projects',
          href: '/student/seniorproj/browse'
        },
        {
          name: 'view senior project evaluations',
          href: '/student/seniorproj/view'
        }
      ]
    },
    {
      name: 'log out',
      href: '/logout'
    }
  ]
