-
  var sidebarItems = [
    {
      name: 'courses',
      items: [
        {
          name: 'enroll course',
          href: '/course/enroll'
        },
        {
          name: 'search courses',
          href: '/course/search'
        },
        {
          name: 'manage courses',
          href: '/course/manage'
        },
        {
          name: 'pay fee',
          href: '/course/pay'
        },
        {
          name: 'view grade',
          href: '/grade'
        }
      ]
    },
    {
      name: 'senior projects',
      items: [
        {
          name: 'register',
          items: [
            {
              name: 'register new project',
              href: '/seniorproj/register'
            },
            {
              name: 'register to existing project',
              href: '/seniorproj/exist-register'
            }
          ]
        },
        {
          name: 'browse senior projects',
          href: '/seniorproj/browse'
        },
        {
          name: 'view senior project evaluations',
          href: '/seniorproj/view'
        }
      ]
    },
    {
      name: 'log out',
      href: '/logout'
    }
  ]
