-
  var sidebarItems = [
    {
      name: 'senior projects',
      items: [
        {
          name: 'register',
          items: [
            {
              name: 'register new project',
              href: '/teacher/seniorproj/register'
            },
            {
              name: 'register to existing project',
              href: '/teacher/seniorproj/exist-register'
            }
          ]
        },
        {
          name: 'browse senior projects',
          href: '/teacher/seniorproj/browse'
        },
      ]
    },
    {
      name: 'log out',
      href: '/teacher/logout'
    }
  ]
