-
  var sidebarItems = [
    {
      type: 'category',
      name: 'senior projects',
      items: [
        {
          type: 'category',
          name: 'register',
          items: [
            {
              type: 'link',
              name: 'register new project',
              href: '/seniorproj/register'
            },
            {
              type: 'link',
              name: 'register to existing project',
              href: '/seniorproj/exist-register'
            }
          ]
        },
        {
          type: 'link',
          name: 'browse senior projects',
          href: '/seniorproj/browse'
        },
      ]
    },
    {
      type: 'link',
      name: 'log out',
      href: '/logout'
    }
  ]
