extends ../../common/layout.pug
block content
  .container
    h4.mt-2 Register to an existing Senior Project
    form(action="register"  method="POST")
      .form-row
        .col-lg-4
          label(for="sid") Student ID
          input.form-control(type="text" name="sid")
        .col-lg-4
          label(for="supervisorTeacherID") Teacher ID
          input.form-control(type="text" name="supervisorTeacherID")
        .col-lg-4
          label(for="projectID") Project ID
          input.form-control(type="text" name="projectID")
      .form-row.mt-2
        .col.d-flex.flex-row-reverse.align-items-end
          button.btn.btn-primary Submit
    br
    each i in result
      .form-row
        .col
          .alert.alert-success #{i}
    each error in errors
      .form-row
          .col
            .alert.alert-danger #{error}

