extends common/layout.pug
block content
  .container
    .jumbotron
      h1.display-4 Rekt Chula!
      p.lead with senior projects
      hr.my-4
      h3.lead Authors
        ol
          li Piriyapong Laopongsit
          li Wattanai Thangsrijrojkul
          li Sivakorn Chanpitayanukulkij
          li Phootip Tulayavorases
          li Thad Benjaponpitak
