extends common/layout.pug
block content
  .container.text-center
      h1.display-4.pt-4 Reg Chula
      p.lead with senior projects
      hr.my-4.invisible
      hr.my-4.invisible
      h3.lead(style="font-size: 2rem;") Authors
      .align-items-center.lead
        ol.text-left.d-inline-block
          li Piriyapong Laopongsit
          li Wattanai Thangsrijrojkul
          li Sivakorn Chanpitayanukulkij
          li Phootip Tulayavorases
          li Thad Benjaponpitak
