extends common/layout.pug
block content
  .container
    h3 register new student
    hr
    form.p-3(action="/newstudent" method="POST")
      .form-row
        .col
          label(for="studentID") Student ID
          input.form-control(type="text" name="studentID")
        .col-lg-2
          label(for="year") Year
          select.form-control(id="year")
            option(selected value="61") 61
            each year in [60, 59, 58]
              option(value=year)= year
      .form-row
        .col
          label(for="firstName") First Name
          input.form-control(type="text" name="firstName")
        .col  
          label(for="firstName") Last Name
          input.form-control(type="text" name="lastName")
      .form-row
        .col
          label(for="citizenID") Citizen ID
          input.form-control(type="text" name="citizenID")
        .col-lg-2
          label(for="countryCode")
            small Nationality (Country Code)
          input.form-control(type="text" name="countryCode" placeholder="\"TH\"")
      .form-row
        .col
          label(for="department") Department
          select.form-control(name="department")
            option(selected value="none") Choose Department...
            each department in departments
              option(value=department) #{department}
      hr
      .form-row
        .col
          button(type="submit").btn.btn-primary.mx-auto.d-block Submit
