doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="shortcut icon" href="/static/favicon.ico")
    style
      include ../styles/index.css
  body
    .container-fluid.root
      .row.full-height
        .col.p-0.pt-4.pb-3.d-none.d-sm-block.sidebar
          block sidebar
            case sidebarVariation 
              when 'teacher'
                include sidebar.teacher.pug
              when 'login'
                include sidebar.login.pug
              default
                include sidebar.pug
        .col-9.pt-4(style="overflow-y: scroll;")
          block content
