.container-fluid.p-0
  .container
    img.mx-auto.d-block.chula-logo(src="/static/logo.png")
    h5.mx-auto.text-center rekt chula
  hr(style="margin: 1em;")
  .container
    ul.sidebar-menu
      li
        a(href="") new student
      li
        a(href="") enroll course
      li
        a(href="") search courses
      li
        a(href="") manage courses
      li
        a(href="") pay fee
      li
        a(href="") browse senior projects
      li
        a(href="") register senior projects
      li
        a(href="") update senior project status
