.container-fluid.p-0
  .container
    a(href="/")
      img.mx-auto.d-block.chula-logo(src="/static/logo.png")
      h5.mx-auto.text-center reg chula
  hr(style="margin: 1em;")
  .container
    ul.sidebar-menu
      li
        a(href="/newstudent") new student
      li
        a(href="/course/enroll") enroll course
      li
        a(href="/course/search") search courses
      li
        a(href="/course/manage") manage courses
      li
        a(href="/course/pay") pay fee
      li
        a(href="/grade") view grade
      li
        a(href="/seniorproj/browse") browse senior projects
      li
        a(href="/seniorproj/register") register senior projects
      li
        a(href="/seniorproj/update") update senior project status
