.container-fluid.p-0
  .container.mb-4
    a(href="/" style="text-decoration: none;")
      img.mx-auto.d-block.chula-logo(src="/static/logo.png")
      h3.mx-auto.text-center.text-dark.font-italic Reg Chula
  .container
    ul.sidebar-menu.nav.flex-column
      li.nav-item.sidebar-nav-item
        a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/newstudent") new student
      li.mt-2.mb-0.sidebar-divider courses
      ul.sidebar-menu.nav.pl-3.flex-column
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/student/course/enroll") enroll course
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/student/course/search") search courses
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/student/course/manage") manage courses
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/student/course/pay") pay fee
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/student/grade") view grade
      li.mt-2.mb-0.sidebar-divider senior projects
      ul.sidebar-menu.nav.pl-3.flex-column
        li.sidebar-divider Register
        ul.sidebar-menu.nav.pl-3.flex-column
          li.nav-item.sidebar-nav-item
            a.nav-link.sidebar-nav-link.pl-0.mt-0.mb-1.py-0(href="/seniorproj/register") register new project
          li.nav-item.sidebar-nav-item
            a.nav-link.sidebar-nav-link.pl-0.mt-0.mb-1.py-0(href="/seniorproj/exist-register") register to existing project
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/seniorproj/browse") browse senior projects
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/seniorproj/update") update senior project status
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/seniorproj/view") view senior project evaluation
      li.nav-item.sidebar-nav-item
        a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/logout") logout
