//- mixin renderSidebarItems(sidebarItems)
//-   ul.sidebar-menu.nav.flex-column
//-     each item, key in sidebarItems
//-       if typeof(item) === 'string'
//-         li.nav-item.sidebar-nav-item
//-           a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href=item) #{key}
//-       else if typeof(item) === 'object'
//-         +renderSidebarItems(item)

//- - 
//-   var test = {
//-     'new student': '/newstudent',
//-     'hello': '/hello',
//-     'nested': {
//-       'nestedlink': '/nested'
//-     }
//-   }

.container-fluid.p-0
  .container.mb-4
    a(href="/" style="text-decoration: none;")
      img.mx-auto.d-block.chula-logo(src="/static/logo.png")
      h3.mx-auto.text-center.text-dark.font-italic Reg Chula
  .container
    block sidebar_items
      case sidebarVariation
        when 'teacher'
          include sidebar-items/teacher.pug
        when 'login'
          include sidebar-items/login.pug
        when 'student'
          include sidebar-items/student.pug
        default
          include sidebar-items/student.pug
      include sidebar-items/_render.pug
      +renderSidebarItems(sidebarItems)
