.container-fluid.p-0
  .container.mb-4
    a(href="/" style="text-decoration: none;")
      img.mx-auto.d-block.chula-logo(src="/static/logo.png")
      h3.mx-auto.text-center.text-dark.font-italic Reg Chula
  .container
    block sidebar_items
      ul.sidebar-menu.nav.flex-column
        li.nav-item.sidebar-nav-item
          a.nav-link.sidebar-nav-link.pl-0.my-1.py-0(href="/newstudent") new student
