extends ../common/layout.pug
block content
  .container
    h3 Update Senior Project Status
    hr
    form(action="/seniorproj/update" method="POST")
      .form-row.align-items-end
        .col-lg-3
          label(for="projectID") Project ID
          input.form-control(type="text" name="projectID")
        .col-lg-3
          label(for="teacherID") Teacher ID
          input.form-control(type="text" name="teacherID")
        .col-lg-4
          label(for="type") Type
          select.form-control(name="type")
            each type1 in types
              option(value=type1.value) #{type1.text} 
        .col-lg-2
          label(for="grade") Grade
          input.form-control(type="number" name="grade")
      .form-row.align-items-end
        .col-lg-12
          label(for="comment") Comment
          textarea.form-control(rows=5 name="comment")
      .form-row.mt-2.float-right
        button.btn.btn-primary submit
        
