extends ../common/layout.pug
block content
  .container
    h3 Enroll Courses
    hr
  .container
    form#enroll(method="POST")
      .form-inline
        .form-group
          label.col-form-label.col(for="studentID") Student ID
          input.form-control(type="text" name="studentID")
      br
      table.table
        thead
          tr
            th Course ID
            th Section
        tbody#table-body
          tr#course-row
            td.w-50
              input.form-control.col(id="courseID" type="text" name="courseID")
            td
              form(name="h")
              .form-row
                input.form-control.col(id="field1" type="text" name="courseSectNum")
    each error in errors
      .form-row
        .col
          .alert.alert-danger #{error}
    .form-row
      .col
        button#add-course.btn.btn-primary add course
      .col
        button.btn.btn-primary(type="submit" form="enroll") submit
    script(src="/static/js/enroll.js")
